In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randint(1,30,(4,3)),['A','B','C','D'],['X','Y','Z'])
df

    X   Y   Z
A  26  28  25
B  12  10  11
C  21  20   4
D  14  19  18

In [6]:
df[df>20]

      X     Y     Z
A  26.0  28.0  25.0
B   NaN   NaN   NaN
C  21.0   NaN   NaN
D   NaN   NaN   NaN

In [17]:
df[df['Y']>19]

    X   Y   Z
A  26  28  25
C  21  20   4

In [22]:
#and or conditions 
df[(df['X']<15) & (df['Y']>15)]

    X   Y   Z
D  14  19  18

In [24]:
states = ['UP','MP','RJ','UK']

In [25]:
df['States'] = states

In [35]:
df

  States   X   Y   Z
0     UP  26  28  25
1     MP  12  10  11
2     RJ  21  20   4
3     UK  14  19  18

In [36]:
df.set_index('States',inplace = True) #setting index as states

In [37]:
df

         X   Y   Z
States
UP      26  28  25
MP      12  10  11
RJ      21  20   4
UK      14  19  18

In [43]:
df.loc['UP'] #up has become an index value

X    26
Y    28
Z    25
Name: UP, dtype: int32

In [45]:
df.reset_index() #resetting the index

  States   X   Y   Z
0     UP  26  28  25
1     MP  12  10  11
2     RJ  21  20   4
3     UK  14  19  18