In [1]:
import numpy as np
import pandas as pd

In [13]:
labels = ['A','B','C']
values = [12,13,14]
d = np.array(values)

In [14]:
pd.Series(data = values,index = labels)

A    12
B    13
C    14
dtype: int64

In [16]:
dict_a =  {"A":10,"B":20}

In [17]:
pd.Series(dict_a)

A    10
B    20
dtype: int64

In [19]:
ser1 = pd.Series([1,2,3],["US","IND","UK"])
ser1

US     1
IND    2
UK     3
dtype: int64

In [21]:
ser2 = pd.Series([10,21,32],["US","IND","CHN"])
ser2

US     10
IND    21
CHN    32
dtype: int64

In [22]:
ser1 + ser2

CHN     NaN
IND    23.0
UK      NaN
US     11.0
dtype: float64